async-timeout
azure-ai-documentintelligence
azure-ai-ml
azure-ai-projects
azure-common
azure-core
azure-identity
azure-mgmt-core
Jinja2
keyring
langchain
langchain-community
langchain-core
langsmith
nest-asyncio
networkx
numpy
openai
openapi-core
openapi-schema-validator
openapi-spec-validator
packaging
pandas
pathable
pathlib
pdfkit
pillow
psutil
pyarrow
pydantic
python-dotenv
pytz
rdflib
referencing
regex
requests
scipy
streamlit
tiktoken
toml
tqdm
urllib3
uvicorn
spacy
graphrag
graspologic
psycopg2-binary
semantic-kernel[azure]==1.20.0
azure-ai-services
autogenstudio
asyncio
logging
typing
sqlalchemy




